/* @tailwind base;
@tailwind components;
@tailwind utilities; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8989bd;
  width: auto;
  margin-bottom: 12px;
}

.body {
  width: 1300px;
  margin: 0 auto;
  max-width: 100%;
}

.logo {
  padding: 10px;
  width: 100px;
  border-radius: 50%;
}

.nav-items {
  padding: 0 10px 0;
  width: auto;
}

.nav-items ul {
  font-size: 24px;
  display: flex;
  list-style: none;
}

li {
  cursor: pointer;
}

.nav-items ul li {
  padding: 10px;
  margin: 10px;
}

.res-card {
  width: 234px;
  height: 300px;
  padding: 5px;
  margin: 10px 5px;
  border-radius: 5px;
}

.res-card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.res-logo {
  width: 100%;
  border-radius: 5px;
}

.res-container {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}

.filter-btn {
  margin: 10px;
  padding: 8px;
  cursor: pointer;
  background-color: rgb(148, 148, 213);
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 700;
}

.filter-btn:hover {
  transform: scale(1.05);
}
