/* @tailwind base;
@tailwind components;
@tailwind utilities; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8989bd;
  width: auto;
  margin-bottom: 12px;
}

.body {
  width: 1300px;
  margin: 0 auto;
  max-width: 100%;
}

.logo {
  padding: 10px;
  width: 100px;
  border-radius: 50%;
}

.nav-items {
  padding: 0 10px 0;
  width: auto;
}

.nav-items ul {
  font-size: 18px;
  display: flex;
  list-style: none;
}

li {
  cursor: pointer;
}

.nav-items ul li {
  padding: 10px;
  margin: 10px;
}

.res-card {
  width: 234px;
  height: 300px;
  padding: 5px;
  margin: 10px 5px;
  border-radius: 5px;
  color: black;
  text-decoration: none;
}

.res-card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.res-logo {
  width: 100%;
  border-radius: 5px;
}

.res-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.filter-btn {
  margin: 15px;
  padding: 8px;
  cursor: pointer;
  background-color: rgb(148, 148, 213);
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 700;
}

.filter-btn:hover {
  transform: scale(1.05);
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  width: 234px;
  height: 300px;
  padding: 5px;
  margin: 10px 5px;
  border-radius: 5px;
  background-color: #f0f0f0;
}

.shimmer {
  width: 1300px;
  margin: 0 auto;
  max-width: 100%;
}

.login {
  padding: 0 20px;
  cursor: pointer;
}

.filter {
  display: flex;
}

.menu {
  padding: 10px;
  margin: 10px;
}

.menu_items {
  margin: 20px;
  padding: 10px;
}
.footer {
  padding: 10px;
  margin: 10px;
  text-align: center;
}

h4 a {
  margin: 3px;
}

.user-card {
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
}

.error {
  text-align: center;
}

.search-container {
  display: flex;
  justify-content: center;
}
.search-input {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #ffffff;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  /* padding: 14px 15px 14px 20px; */
  padding: 14px;
  border: 1px solid #aabcca;
  border-right: 0;
  outline: none;
}

.search-btn {
  background-color: rgb(148, 81, 81);
  color: white;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 15px 22px;
  margin-left: -4px;
  cursor: pointer;
  border: none;
  outline: none;
}

.search-btn:hover {
  background-color: green;
}
